/* Large desktop */
@media (max-width: 1220px) {
  #expand {
    display: none;
  }
  #uppertile {
    grid-template-columns: 5.5% 4% 15% 14% 10% 12% 8% 8% 2% 3% 15% !important;
  }
}
@media (max-width: 1100px) {
  #cryptoIcon {
    transform: scale(0.5) !important;
    margin-left: -13px;
  }
  #uppertile {
    grid-template-columns: 2.5% 5% 15% 14% 11% 15% 8% 7% 2% 3% 15% !important;
  }
  #uppertile .green {
    font-size: 1em !important;
  }
  #uppertile .red {
    font-size: 1em !important;
  }
  .bestTags {
    transform: scale(0.8) !important;
  }
}
@media (max-width: 1000px) {
  #uppertile {
    grid-template-columns: 2.5% 5% 13% 14% 11% 13% 8% 7% 2% 3% 15% !important;
  }
  body {
    font-size: 12px;
  }
  .smallGraph {
    transform: scale(0.8) !important;
  }
  #searchBar button {
    height: 25px !important;
  }
  .select {
    transform: scale(1) !important;
  }
}
@media (max-width: 800px) {
  #uppertile {
    grid-template-columns: 3.5% 7% 17% 17% 12% 17% 9% 8% 4% 3% !important;
  }

  @media (max-width: 660px) {
    .authbtn button {
      transform: scale(0.75) !important;
      margin: 0 !important;
    }
    .authbtn {
      margin-right: -17px;
    }
    .select {
      transform: scale(0.9) !important;
      margin: 0 !important;
    }
    #searchBar input {
      width: 100px !important;
    }
    #searchBar button {
      margin: 0 !important;
    }
    .logo {
      transform: scale(0.7) !important;
    }
    nav {
      padding-top: 0px !important;
      padding-left: 0px !important;
    }
  }

  .smallGraph {
    display: none;
  }

  @media (max-width: 640px) {
    .mobileBanner {
      display: block !important;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background-color: white;
      z-index: 50;
      font-size: 2rem;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      padding-top: 100px;
    }
  }
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all linear 0.2s;
}

body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;

  --firstColor: #272830;
  --secondColor: #ffffff;
  --thirdColor: #00ad3a;
  --fourthColor: #f5c148;
  --fifthColor: #919290;
  --attention: #fc4348;
}
*:active {
  outline: none;
}
*:focus {
  outline: none;
}
*:link {
  outline: none;
}
.logo {
  width: 6rem;
  height: 3.5rem;
  margin-top: -7px;
  z-index: 5;
  transform: translateZ(0px);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 20px;
}

.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
select {
  margin-right: 20px;
  transform: scale(1.17);
}

/* nav:nth-child(1) span {
  margin-left: 50px;
} */

nav a {
  text-decoration: none;
  color: var(--secondColor);
}

i {
  border: none;
}
i:active {
  border: none;
}
i:focus {
  border: none;
}

.onboarding {
  background: url("./images/shattered-island.gif");
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  padding: 1em 1.5em;
  background-color: var(--thirdColor);
  color: var(--secondColor);
  /* box-shadow: 0 4px 20px var(--thirdColor); */
  transition: all 0.2s;
  border-radius: 30em;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  font: inherit;
  box-sizing: border-box;
}

.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  background-color: var(--thirdColor);
  box-shadow: 0 0 15px var(--thirdColor);
}

#uppertile {
  border-radius: 5px;
  position: relative;
  display: grid;
  background-color: var(--secondColor);
  margin: 10px 0 -2px 0;
  font-size: 1.3em;
  grid-template-columns: 5.5% 3% 14% 14% 10% 12% 8% 8% 5% 3% 14% 5%;
  align-items: center;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.212);
  height: 70px;
  /* z-index: 1; */
}
#uppertile p,
#uppertile a {
  margin: 0 auto;
  text-decoration: none;
}

#uppertile .red {
  color: var(--attention);
  font-size: 1.2em;
}

.bestTags {
  position: absolute;
  font-size: 0.8rem;
  bottom: 3%;
  left: 6%;
  display: flex;
  flex-direction: row;
}
.bestTags * {
  background-color: var(--thirdColor);
  border-radius: 10px;
  height: 1.3em !important;
  padding: 0 5px;
  margin: 0 3px !important;
}

.green {
  color: var(--thirdColor);
  font-size: 1.2em;
}
#namingbar {
  /* background-color: #85ded4; */
  display: grid;
  grid-template-columns: 5.5% 2% 15% 14% 10% 12% 8% 8% 5% 3% 14% 5%;
  font-size: 0.8em;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 25px;
  font-weight: 600;
  z-index: 4;
  color: var(--secondColor);
  align-items: center;
  justify-content: end;
}
#namingbar .descNumVotes {
  padding-left: 35px;
}
#namingbar .descGraph {
  padding-left: 65px;
}
#namingbar .descEstChg {
  padding-left: 30px;
}
#namingbar .descChg {
  padding-left: 10px;
}
#namingbar .descRank {
  margin-left: -20px;
}
#namingbar .descName {
  padding-right: 40px;
}
#namingbar p {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
#namingbar div {
  display: flex;
  flex-direction: row;
}
#tile {
  will-change: height;
  margin: 0 25px;
}

#rating {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}
#rating button {
  color: var(--attention);
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1.2em;
  width: 40px;
  cursor: pointer;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.548);
  transition: all 0.2s;
}

#rating button:hover {
  color: var(--attention);
}

#rating button:active {
  transform: scale(0.7);
  border: none;
}
#rating button:focus {
  border: none;
}
#rating button:nth-child(1) {
  color: var(--thirdColor);
}
#rating button:nth-child(1):hover {
  color: var(--thirdColor);
}

#expand {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1.6em;
  cursor: pointer;
  width: 35px;
  height: 40px;
  animation: ClickMe 2s linear infinite;
}
#expand i {
  transition: all linear 0.5s;
}

@keyframes ClickMe {
  50% {
    transform: scale(1.2);
  }
}

#cryptoIcon {
  padding-left: 10px;
  padding-bottom: 2px;
  transform: scale(1.2);
  z-index: 0;
  transition: all linear 0.3s;
}
.Expandable {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 1em;
  display: grid;
  grid-template-columns: 3fr 3fr 0.7fr;
  height: 260px;
  grid-gap: 10px;
  padding-top: 3px;
}

.Details .detailTags button {
  font-size: 1.4em;
}
.Details .detailTags ul li {
  width: 32%;
  float: left;
}
.Details .detailTags ul {
  width: 100%;
}
.Details .detailTags input {
  width: 97em;
  margin-left: 15px;
}

.fullInput::placeholder {
  color: black;
  opacity: 0.7;
}
.fullInput {
  background-color: var(--fourthColor);
  box-shadow: 0 0 10px;
  border-radius: 7px;
  color: black;
  font-size: 1em;
  transition: all linear 0.5s;
}
.fullInput:focus {
  box-shadow: 0 0 10px #fff;
}

.fulltags input {
  position: absolute !important;
  padding-left: 13px !important;
  width: 31.3vw !important;
  background-color: var(--fourthColor);
  border: 1.8px solid black !important;
  border-radius: 8px;
  color: black;
  font-size: 1em;
}
.fulltags {
  position: relative;
  width: 100%;
  margin-top: 20px;
  grid-column: 1/3;
  grid-row: 3/4;
  padding-bottom: 50px;
}
.fulltags p {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.6em;
  font-weight: 700;
  padding-bottom: 30px;
  color: white;
}

.detailTags {
  position: relative;
  padding-left: 12px;
}
.detailTags form {
  position: absolute;
  bottom: 0;
}

.Expandable .detailTags {
  grid-area: inherit;
}
.detailTags ul li {
  font-size: 0.9em;
  width: 45%;
  float: left;
  background-color: var(--fourthColor);
  border-radius: 40px;
  margin: 6px 2px;
  margin-left: 14px;
}
.detailTags ul {
  overflow-y: auto;
  height: 212px;
  /* margin-left: 20px; */
}
.detailTags ul {
  list-style: none;
}
.detailTags button {
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.detailTags button:active {
  transform: scale(0.75);
}

.CommentSection ul button {
  background-color: inherit;
  box-shadow: none;
  border: none;
  color: #666b85;
  padding-right: 3px;
  cursor: pointer;
}

.CommentSection .ownmessage {
  margin-left: auto;
  margin-right: 7px;
  width: fit-content;
}
.CommentSection .ownmessage .bubble {
  background-color: rgb(163, 36, 163);
}

.CommentSection input {
  position: relative;
  margin-top: 10px;
  width: 96%;
  height: 40px;
  border: none;
  padding-left: 10px;
  background-color: var(--fourthColor);
  /* border: 1.8px solid black !important; */
  border-radius: 8px;
  color: black;
  font-size: 1em;
  box-shadow: 0 0 10px;
  transition: all linear 0.6s;
}
.CommentSection input:focus {
  box-shadow: 0 0 10px #fff;
}

.CommentSection input::placeholder {
  color: black;
  opacity: 0.8;
}

.CommentSection li span:last-of-type {
  font-size: 0.7em;
  color: var(--secondColor);
  text-align: center;
}
.bubble {
  background-color: var(--fourthColor);
  padding: 4px 9px;
  border-radius: 40px;
  padding-right: 11px;
}
.CommentSection ul {
  height: 206.5px;
  overflow-y: auto;
  width: 100%;
  padding-left: 10px;
  position: relative;
  list-style: none;
}

.CommentSection li {
  margin: 10px;
}
.Details .CommentSection {
  position: fixed;
  bottom: 0;
  width: 35%;
  right: 0%;
}

.Details .header p {
  margin-left: 10px;
}
.Details .CommentSection i {
  margin-right: 10px;
}
.toggleChat {
  position: fixed;
  font-size: 1.5em;
  bottom: 0%;
  right: 35%;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 6px 12px;
  border: 1.5px solid black;
  border-bottom: none;
  background-color: var(--fourthColor);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 0 0 30px;
}
.toggleChat i {
  padding-left: 5px;
  font-size: 0.8em;
}
.Details .chat {
  border-top: none;
  height: 100vh;
  box-shadow: -2px 0px 52px -2px rgba(0, 0, 0, 0.75);
}
.Details .chat ul {
  overflow-y: auto;

  background-color: #ececec;
  height: 100%;
}
.Details .chat li:not(.ownmessage) {
  margin-left: 0px;
}
.Details .CommentSection li span:last-of-type {
  color: black;
}

.Expandable li {
  list-style: none;
  word-wrap: break-word;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  /* margin-left: 20px; */
}

.votes p:nth-child(1) {
  font-size: 1.5em;
}

.advancedVote {
  margin-top: 30px;
}

.advancedVote input[type="text"] {
  font-size: 45px;
  width: 110px;
  box-shadow: none;
  border: none;
  text-align: center;
  border-bottom: 2px solid white;
  background-color: inherit;
  margin-left: 20px;
  color: white;
}

.advancedVotediv {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin-top: -70px;
}

.advancedVote input[type="range"] {
  margin-top: 90px;
  transform: rotate(-90deg);
}

.advancedVote span {
  font-size: 45px;
  color: white;
}

.advancedVote button {
  margin-top: 20px;
}

.loginerror {
  position: fixed;
  z-index: 3;
  top: 10;
}

/* #region React-Animations */

.fade-enter {
  height: 0px;
  opacity: 0;
  transform-origin: top;
}

.fade-enter-active {
  height: 260px;
  opacity: 1;
  transition: 0.7s all linear;
}

.fade-leave {
  transition: 0.7s all linear;
  opacity: 1;
}

.fade-leave-active {
  height: 0px;
  transform-origin: top;
  opacity: 0;
}

.swipe-left-enter {
  transform: scaleX(0);
  transform-origin: right;
  transition: all ease-in-out 0.3s;
}
.swipe-left-enter-active {
  transform: scaleX(1);
}
.swipe-left-leave {
  transform: scaleX(1);
}
.swipe-left-leave-active {
  transform: scaleX(0);
  transition: all ease-in-out 0.3s;
  transform-origin: right;
}

/* #endregion */

#flash {
  position: fixed;
  width: 500px;
  top: 20%;
  left: 50%;
  margin-left: -250px; /* Negative half of width. */
  transition: linear 1s;
  font-size: 27px;
  z-index: 3;
  background-color: var(--attention);
  user-select: none;
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
  text-align: center;
  display: none;
}

.flashactive {
  opacity: 1 !important;
  display: block !important;
}

.suggestions {
  list-style: none;
  position: absolute;
  background-color: var(--secondColor);
  z-index: 3;
  border: 1px solid black;
}
.suggestions li:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.tags {
  margin: 20px 20px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.tag button {
  background: none;
  font-size: 1.3em;
  padding: 10px;
}
.tag button:nth-of-type(2) {
  font-size: 0.7em;
  position: absolute;
  right: 0;
}
.tag .tags input[type="text"] {
  width: 50%;
  font-size: 1em;
  margin-top: 90px;
}
.tag span {
  width: 70%;
}

.Details {
  width: 95%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 100px 1.6fr 1fr;
}
.detailsname {
  grid-column: 1/2;
  grid-row: 1/2;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.7em;
  color: white;
}

.detailStats {
  margin-top: 60px;
  grid-column: 2/3;
  grid-row: 1/4;
}

.detailGraph {
  grid-area: graph;
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 0px;
  padding-left: 0px;
  margin-top: -40px;
}
.graph {
  background-color: white;
  border-radius: 10px;
  margin-right: 70px;
  padding: 20px;
}
.graphBtn {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 57vw;
}

.detailGraph button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px 5px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: var(--fourthColor);
  border-radius: 10px;
  color: black;
  transition: all 0.2s linear;
}

.detailGraph button:active {
  transform: scale(0.85);
}
.detailGraph button:focus {
  background-color: #c28f17;
}

.detailTags p {
  height: 206.5px;
  overflow-y: auto;
  width: 100%;
  padding-left: 10px;
  position: relative;
  list-style: none;
}

.detailTags li {
  width: 50%;
  flex-wrap: nowrap;
}

.detailTags input {
  position: relative;
  width: 34vw;
  height: 40px;
  border: none;
  padding-left: 10px;
}
.cryptoIcondetail {
  position: absolute;

  top: 14%;
  left: 25%;

  transform: scale(1.7);
  z-index: -1;
  opacity: 0.5;
}

#voteshow {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.noshow {
  display: none !important;
}
#searchBar {
  font-size: 2em;
  font-weight: 800;
  line-height: 24px;
}

#searchBar button {
  font-size: 0.6em;
  padding: 3px 5px 3px 5px;
  margin-left: 0px;
  border: none;
  height: 30.1px;
  color: black;
  border-radius: 0px;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; */
}

#searchBar input {
  font-size: 0.6em;
  background-color: white;
  border: none;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  padding-left: 10px;
  width: 180px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
}

.crosshair {
  background-color: gray;
  width: 120px;
  font-size: 16px;
  color: var(--fourthColor);
  border-radius: 15px;
  padding: 3px;
  height: fit-content;
  margin-top: 30px;
  padding-left: 7px;
  opacity: 0.95;
}
.crosshair span {
  font-size: 13px;
  color: white;
}
.crosshair p {
  margin-top: 8px;
}

/* #region table */

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  /* border-bottom: 4px solid #9ea7af; */
  /* border-right: 1px solid #343a45; */
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  color: #000;
  font-size: 16px;
  font-weight: normal;
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  /* border-top: 1px solid #22262e; */
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: var(--fourthColor);
}

tr:nth-child(odd):hover td {
  background: var(--fifthColor);
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: white;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid black;
  border-top: 1px solid black;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* #endregion */

nav button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 8px 30px;
  display: inline-block;
  margin: 7px 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: var(--fourthColor);
}
nav button:active {
  transform: scale(0.9);
  transition: all linear 0.2s;
}

.signinform {
  position: fixed;
  /* z-index: 3; */
  background-color: var(--fourthColor);
  padding: 20px;
  border: 6px solid black;
  padding-bottom: 70px;
  right: 0%;
  top: 17%;
  transition: all linear 0.2s;
  border-right: none;
}

.signinform form {
  display: flex;
  flex-direction: column;
}

.signinform input {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: inherit;
  font-size: 1.3em;
}

.signinform form {
  display: inline-block;
}
.signinform .field {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.signinform label {
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  transform: translateY(20px);
  pointer-events: none;
}
.signinform input:focus + label {
  transform: translateY(-2px);
}
.signinform button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px 35px;
  display: inline-block;
  position: absolute;
  left: 25%;
  margin-top: 10px;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s;
  text-align: center;
  background-color: var(--thirdColor);
  border-radius: 10px;
}
.signinform h2 {
  margin-left: 25%;
}

.filled {
  transform: translateY(-2px) !important;
}

.pagbtn {
  margin: 0 auto;
  width: 16em;
  padding-top: 10px;
  padding-left: 32px;
}

.pagbtn button {
  background-color: white;
  font-size: 2em;
  box-shadow: none;
  width: 1.6em;
  height: 1.6em;
  margin: 0px 5px;
}
.goTop {
  position: fixed;
  right: 0;
  top: 90%;
  cursor: pointer;
  font-size: 2em;
  padding-right: 4px;
  opacity: 0.7;
  color: white;
  transform: scale(0.9);
}
.rotated {
  transform: rotate(180deg);
}

.developerExpand,
.redditExpand {
  position: absolute;
  z-index: 2;
}

.footer {
  margin-top: 20px;
  background-color: #5b5e64;
  height: 190px;
  color: white;
  line-height: 30px;
}
.footer p {
  margin: 0 auto;
  width: fit-content;
  padding-top: 10px;
}
.footer section {
  margin-left: 40vw;
}
/* .footer a {
  margin: 0 auto;
  width: fit-content;
} */
.select {
  height: 2em;
}

.select option {
  background-color: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}
.rv-crosshair__line {
  background: black;
  width: 1px;
}

.placeholder {
  height: 70.7167px;
  background-color: white;
  margin: 7px 2% 3px 2%;
  border-radius: 5px;
}
.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}

.smallGraph {
  filter: contrast(0);
}
.policy {
  margin: 0px 17vw;
  line-height: 27px;
  border-radius: 20px;
  background-color: white;
  padding: 24px;
}
.policy h1 {
  padding-bottom: 20px;
}
.Explanation {
  color: white;
  /* position: absolute; */
  font-size: 0.85em;
  /* margin-left: -50px; */
  text-align: center;
  margin-top: -22px;
  width: 19vw;
}
.Detailvoteinput {
  margin-top: -15px;
  margin-left: -10px;
}
.cookiebanner {
  width: 60vw;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 1%;
  left: 18%;
  background-color: rgb(68, 66, 66);
  z-index: 5;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  border-bottom: 0px;
  text-align: center;
}
.cookiebanner div {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 170px;
  padding-top: 5px;
}
.cookiebanner div * {
  padding: 4px 10px 4px 10px;
}
.cookiebanner button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 7px 28px;
  display: inline-block;
  margin: 2px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: var(--thirdColor);
  border-radius: 10px;
}
.cookiebanner a {
  color: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 7px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: var(--fourthColor);
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.8em;
  transform: scale(0.8);
}
.fourofour {
  background-color: white;
  padding: 20px;
  height: 50vh;

  width: 50vw;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}

.popupleft {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.95;
  z-index: 7;

  /* mask-image: url(box.svg);
  mask-size: 40px 500px;
  mask-mode: alpha;
  mask-repeat: no-repeat; */
}
.popuptextbox {
  position: fixed;
  padding: 20px;
  top: 30%;
  left: 35%;
  background-color: white;
  z-index: 8;
  opacity: 1.1;
  height: 40vh;
  width: 30vw;
  text-align: center;
  box-shadow: 0 0 20px;
  border-radius: 8px;
  background-color: var(--fourthColor);
  border: 2px solid black;
}
.popuptextbox h3 {
  padding-bottom: 10px;
}
.popuptextbox button {
  margin-top: 60px;
}
.withDetailTags {
  margin-bottom: 22px !important;
}
.chatInput {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: white;
  opacity: 1;
  box-shadow: 0px 2px 20px;
}
.chatInput input {
  background-color: inherit;
  box-shadow: none;
  border-bottom: 3px solid black;
  width: 70%;
  border-radius: 0px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.sendMessage {
  position: absolute;
  bottom: 8%;
  height: 50px;
  margin-left: -25px;
}
.sendMessageDetails {
  position: absolute;
  top: 63%;
  left: 36%;
}

.sendMessage:active {
  transform: scale(0.9);
}
.sticky {
  z-index: 3;
  background-color: #272830;
  transform: scale(1);
}

.animated {
  z-index: 5;
}

.authforms {
  position: fixed;
  z-index: 20;
  right: 0%;
}

.mobileBanner {
  display: none;
}
