@media screen and (max-width: 1200px) {
  #expand {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  #uppertile img:nth-child(1) {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #85ded4;
  padding-top: 5px;
  color: white;
}
nav:nth-child(1) {
  padding-top: 8px;
  font-size: 2.2em;
  font-weight: 800;
  padding-left: 18px;
  text-shadow: #22262e 8px 6px 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

i {
  border: none;
}
i:active {
  border: none;
}
i:focus {
  border: none;
}

.mainpage {
  background-color: #85ded4;
}

.btn {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  padding: 1em 1.5em;
  background-color: #fc4348;
  color: white;
  box-shadow: 0 4px 20px rgba(252, 67, 72, 0.5);
  transition: all 0.2s;
  border-radius: 50em;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  font: inherit;

  box-sizing: border-box;
}

.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  background-color: #fc5c60;
  box-shadow: 0 0 8px rgba(252, 67, 72, 0.5);
}

#uppertile {
  padding-left: 20px;
  position: relative;
  display: grid;
  background-color: white;
  margin: 6px 50px;
  font-size: 1em;
  padding-top: 25px;
  grid-template-columns: 11% 12% 13% 8% 10% 9% 10% 4% 6% 14% 6%;
  /* grid-template-columns: 0.2fr 2fr 2fr 1fr 2fr 1fr 1fr 2fr 0.2fr 2fr 1fr; */

  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.212);
  z-index: 2;
  /* word-wrap: break-word; */
}
#uppertile p,
#uppertile a {
  margin: 0 auto;
  height: 2em;
  text-decoration: none;
}
#uppertile .red {
  color: red;
  font-size: 1.2em;
}

#uppertile a {
  background-color: white;
}
.bestTags {
  position: absolute;
  font-size: 0.8em;
  bottom: 7%;
  left: 7%;
  display: flex;
  flex-direction: row;
}
.bestTags * {
  background-color: #7cff7c;
  border-radius: 50px;
  height: 1.3em !important;
  padding: 0 5px;
  margin: 0 3px !important;
}

.green {
  color: green;
  font-size: 1.2em;
}
#namingbar {
  background-color: #85ded4;
  display: grid;
  grid-template-columns: 11% 12% 13% 8% 10% 9% 10% 4% 6% 14% 6%;
  font-size: 1em;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-left: 15px;
  font-weight: 600;
  z-index: 3;
  color: rgb(80, 80, 80);
  align-items: center;
}
#namingbar p {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
#namingbar div {
  display: flex;
  flex-direction: row;
}

#uppertile a {
  margin-left: -20px;
}
#namingbar p:nth-child(9) {
  padding-left: 80px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 95%;
}

.sticky + .tilebox {
  padding-top: 88px;
}
#rating {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}
#rating button {
  color: red;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1.2em;
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.548);
  transition: all 0.2s;
}

#rating button:hover {
  color: rgb(248, 52, 52);
}

#rating button:active {
  transform: scale(0.7);
  border: none;
}
#rating button:focus {
  border: none;
}
#rating button:nth-child(1) {
  color: green;
}
#rating button:nth-child(1):hover {
  color: rgb(46, 148, 46);
}

#expand {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1.6em;
  cursor: pointer;
  width: 35px;
  height: 40px;
  animation: ClickMe 2s linear infinite;
}
#expand i {
  transition: all linear 0.5s;
}

@keyframes ClickMe {
  50% {
    transform: scale(1.2);
  }
}

#cryptoIcon {
  margin-top: 30px;
  position: absolute;
  top: -23%;
  left: 1.2%;
  opacity: 0.6;
  transform: scale(1.4);
  /* clip-path: polygon(7% 10.5%, 100% 10.5%, 100% 90%, 7% 90%); */
  z-index: 0;
}
.Expandable {
  margin-left: 70px;
  margin-right: 70px;
  background-color: #b2fff6;
  font-size: 1em;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  height: 260px;
  margin-top: -6px;
  grid-gap: 10px;
  padding-top: 3px;
}
.detailpage {
  background-color: #85ded4;
}
.Details .detailTags button {
  font-size: 1.4em;
}
.Details .detailTags ul li {
  width: 33%;
  float: left;
}
.Details .detailTags ul {
  width: 100%;
}
.fulltags input {
  position: absolute !important;
  width: 500px;
}
.fulltags {
  position: relative;
  width: 100%;
  margin-top: 85px;
  grid-column: 1/3;
  grid-row: 3/4;
}
.fulltags p {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.6em;
  font-weight: 700;
}

.detailTags {
  position: relative;
}
.detailTags form {
  position: absolute;
  bottom: 0;
}

.Expandable .detailTags {
  grid-area: inherit;
}
.detailTags ul li {
  font-size: 0.9em;
  width: 45%;
  float: left;
  background-color: #f5ff59;
  border-radius: 40px;
  padding-left: 17px;
  padding-right: 8px;
  margin: 6px 2px;
}
.detailTags ul {
  overflow-y: auto;
  height: 200px;
}
.detailTags ul {
  list-style: none;
}
.detailTags button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.CommentSection ul button {
  background-color: inherit;
  box-shadow: none;
  border: none;
  color: #666b85;
  padding-right: 3px;
  cursor: pointer;
}

.CommentSection .ownmessage {
  margin-left: auto;
  margin-right: 7px;
  width: fit-content;
}
.CommentSection .ownmessage .bubble {
  background-color: rgb(163, 36, 163);
}

.CommentSection input {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 10px;
}
.CommentSection li span:last-of-type {
  font-size: 0.7em;
  color: #5c5f63;
  text-align: center;
}
.bubble {
  background-color: #5587ab;
  padding: 4px 9px;
  border-radius: 40px;
  padding-right: 11px;
}
.CommentSection ul {
  height: 206.5px;
  overflow-y: auto;
  width: 100%;
  padding-left: 10px;
  position: relative;
  list-style: none;
}

.CommentSection li {
  margin: 10px;
}
.Details .CommentSection {
  position: fixed;
  bottom: 0;
  width: 50%;
  right: 3%;
}
.Details .CommentSection .header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #22262e;
  color: white;
  font-size: 1.3em;
}
.Details .header p {
  margin-left: 10px;
}
.Details .CommentSection i {
  margin-right: 10px;
}
.Details .chat {
  border: 3px solid #22262e;
  height: 520px;
}
.Details .chat ul {
  overflow-y: auto;
  height: unset;
  opacity: 0.85;
  background-color: lightblue;
  height: 520px;
}
.Details .chat li:not(.ownmessage) {
  margin-left: 0px;
}
.Details .chat input {
  position: fixed;
  bottom: 0%;
  width: 49.6%;
}

.Expandable li {
  list-style: none;
  word-wrap: break-word;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  /* margin-left: 20px; */
}

.votes p:nth-child(1) {
  font-size: 1.5em;
}

.advancedVote {
  margin-right: 30px;
  margin-top: 30px;
}

.advancedVote input[type="text"] {
  font-size: 45px;
  width: 110px;
  box-shadow: none;
  border: none;
  text-align: center;
  border-bottom: 2px solid black;
  background-color: inherit;
  margin-left: 20px;
}

.advancedVotediv {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin-top: -70px;
}

.advancedVote input[type="range"] {
  margin-top: 90px;
  transform: rotate(-90deg);
}

.advancedVote span {
  font-size: 45px;
}

.advancedVote button {
  margin-top: 20px;
}

.loginerror {
  position: fixed;
  z-index: 3;
  top: 10;
}

/* #region React-Animations */

.fade-enter {
  height: 0px;

  transform-origin: top;
}

.fade-enter-active {
  height: 260px;

  transition: 0.5s all linear;
}

.fade-leave {
  transition: 0.5s all linear;
}

.fade-leave-active {
  height: 0px;
  transform-origin: top;
}

/* #endregion */

#flash {
  position: fixed;
  top: 10%;
  transition: linear 1s;
  font-size: 27px;
  z-index: 3;
  background-color: red;
  left: 30%;
  user-select: none;
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
}

.flashactive {
  opacity: 1 !important;
}

.suggestions {
  list-style: none;
  position: absolute;
  background-color: white;
  z-index: 3;
  border: 1px solid black;
}
.suggestions li:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.tags {
  margin: 20px 20px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.tag button {
  background: none;
  font-size: 1.3em;
  padding: 10px;
}
.tag button:nth-of-type(2) {
  font-size: 0.7em;
  position: absolute;
  right: 0;
}
.tag .tags input[type="text"] {
  width: 50%;
  font-size: 1em;
  margin-top: 90px;
}
.tag span {
  width: 70%;
}

.Details {
  width: 95%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 100px 2fr 1fr 3fr;
}
.detailsname {
  grid-column: 1/2;
  grid-row: 1/2;
  width: fit-content;
  margin: 0 auto;
  font-size: 3em;
  padding: 30px;
}

.detailStats {
  margin-top: 50px;
  margin-left: 30px;
  grid-column: 2/3;
  grid-row: 1/4;
}

.detailGraph {
  grid-area: graph;
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 20px;
  padding-left: 0px;
}
.detailGraph button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px 5px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: #5587ab;
  border-radius: 10px;
}

.detailTags p {
  height: 206.5px;
  overflow-y: auto;
  width: 100%;
  padding-left: 10px;
  position: relative;
  list-style: none;
}

.detailTags li {
  width: 50%;
  flex-wrap: nowrap;
}

.detailTags input {
  position: relative;
  width: 380px;
  height: 40px;
  border: none;
  padding-left: 10px;
  margin-left: 15px;
}
.cryptoIcondetail {
  position: absolute;

  top: 14%;
  left: 25%;

  transform: scale(1.7);
  z-index: -1;
  opacity: 0.5;
}

#voteshow {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.noshow {
  display: none !important;
}

#searchBar button {
  font-size: 0.6em;
  padding: 3px 5px 3px 5px;
  margin-left: 0px;
  border: none;

  color: white;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#searchBar {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  margin-left: 390px;
  color: white;
  width: 280px;
}
#searchBar input {
  font-size: 0.6em;
  background-color: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  width: 180px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
}

.crosshair {
  background-color: gray;
  width: 120px;
  font-size: 16px;
  color: rgb(20, 247, 255);
  border-radius: 15px;
  padding: 3px;
  height: fit-content;
  margin-top: 30px;
}
.crosshair span {
  font-size: 13px;
  color: white;
}
.crosshair p {
  margin-top: 8px;
}

/* #region table */

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* #endregion */

nav button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px 35px;
  display: inline-block;
  margin: 7px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: #5587ab;
  border-radius: 10px;
}

nav button:hover {
  background-color: #fca4a4;
}

.signinform {
  position: absolute;
  z-index: 3;
  background-color: lightblue;
  right: 5.5%;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  right: 1%;
}

.signinform form {
  display: flex;
  flex-direction: column;
}

.signinform input {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: inherit;
  font-size: 1.3em;
}

.signinform form {
  display: inline-block;
}
.signinform .field {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.signinform label {
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  transform: translateY(20px);
  pointer-events: none;
}
.signinform input:focus + label {
  transform: translateY(-2px);
}
.signinform button {
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px 35px;
  display: inline-block;
  margin-left: 25%;
  margin-top: 10px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  background-color: #5587ab;
  border-radius: 10px;
}
.signinform h2 {
  margin-left: 25%;
}

.filled {
  transform: translateY(-2px) !important;
  color: white;
}

.pagbtn {
  margin: 0 auto;
  width: 16em;
  padding-top: 10px;
  padding-left: 32px;
}

.pagbtn button {
  background-color: white;
  font-size: 2em;
  box-shadow: none;
  width: 1.6em;
  height: 1.6em;
  margin: 0px 5px;
}
.goTop {
  position: fixed;
  right: 0;
  top: 90%;
  cursor: pointer;
  font-size: 2em;
  padding-right: 7px;
  opacity: 0.7;
}
.rotated {
  transform: rotate(180deg);
}

.developerExpand,
.redditExpand {
  position: absolute;
  z-index: 2;
}

.footer {
  margin-top: 20px;
  background-color: #5b5e64;
  height: 150px;
  color: white;
}
.footer p {
  margin: 0 auto;
  width: fit-content;
  padding-top: 10px;
}
.footer a {
  margin: 0 auto;
  width: fit-content;
}
.select {
  height: 2em;
}
